:root {
    --hover-items: hsl(26, 88%, 33%);
    --hover-AddBtn: #124734;
    --black: #333;
    --white: #fff;
}

.container .main .contentDiv {
    padding: 1rem .5rem;
}

.addActivity-form {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0000008c;
}

.form-container {
    width: 25rem;
    margin: 6rem auto 0 auto;
    background-color: #fff;
    border-radius: 1em;
    transition: width .3s ease-in-out;
    padding: .1rem 1.5rem;
}

.editContainer {
    width: 25rem;
    margin: 3% auto 0 auto;
    background-color: #fff;
    border-radius: 1em;
    transition: width .3s ease-in-out;
    padding: .1rem 1.5rem;
}

.fm-content {
    .title {
        display: flex;
        margin-top: 1.33em;
        font-size: 16px;
        font-weight: bold;
    }

    .dates select {
        margin-top: .5rem;
        margin-left: .5rem;
    }

    .noDate {
        display: flex;

        .lbl {
            margin-top: 1rem;
        }

        .checkBx {
            margin-top: 1rem;
            width: 2rem;
        }

        .youMust {
            background-color: #823015;
        }
    }

    .form-options {
        margin: 1.5rem auto;
        display: flex;
        justify-content: space-between;
    }

    .sumbit-newTask {
        background-color: #676767;
        border: none;
        color: white;
        padding: 8px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 15px;
    }

    .enabled {
        background-color: #124734;
        cursor: pointer;
    }

    .close-newTask {
        background-color: #823015;
        border: none;
        color: white;
        padding: 8px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 15px;
        cursor: pointer;
    }
}

.fm-content input {
    width: 100%;
    padding: 10px 17px;
    margin: 8px 0;
    box-sizing: border-box;
}

.fm-content textarea {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 3rem;
    min-height: 3rem;
    max-height: 6rem;
    padding: 10px 17px;
    margin: 8px 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

@media screen and (min-width: 800px) {
    .form-container {
        width: calc(93% - 20rem);
    }
}

@media screen and (min-width: 1000px) {
    .form-container {
        width: calc(85% - 20rem);
        margin-top: 4rem;
    }
}

@media (max-width: 600px) {
    td:nth-of-type(1):before {
        content: "ID";
    }

    td:nth-of-type(2):before {
        content: "Actividad";
    }

    td:nth-of-type(3):before {
        content: "Estado actual";
    }

    td:nth-of-type(4):before {
        content: "Participantes";
    }

    td:nth-of-type(5):before {
        content: "Fecha estimada";
    }

    td:nth-of-type(6):before {
        content: "Acciones";
    }
}

@media (max-height: 600px) {
    .addActivity-form {
        height: fit-content;
    }

}