.topBar {
    display: block;
    justify-content: center;
    background-image: var(--systemSideBarColor2);
    padding: 5px 5px 0 7px;
}

.tabMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.tab {
    padding: 6px 20px;
    cursor: pointer;
    color: var(--menuItem);
    margin-left: 5px;
    font-size: 1rem;
    background-color: var(--menuColor);
    opacity: 60%;
    transition: background-color 0.5s ease;
}

.tab:hover {
    opacity: 90%;
    padding: 5px 22px 7px 18px;
    
}

.active {
    background-color: var(--divBgColorSys);
    opacity: 100%;
    color: var(--black);
    border: 4px ridge rgb(170 170 170 / 60%);
}

.tabContent {
    display: none;
    margin-left: 3px;
    padding: 20px;
    margin-top: -1px;
}

.activeContent {
    display: block;
}

.fm-content { 
    padding: 1rem;
    border-radius: 20px;
    background-color: var(--divBgColor);
    color: var(--black);
    max-width: 600px;
}

.fm-content .input{
    width: 96%;
    margin: 10px 2%;
    background-color: #d5d5d5;
    transition: padding-left 0.3s ease;
    transition: background-color .25s ease-in-out;
}

.fm-content .input:focus{
    background-color: #fff;
    padding-left: 1.5rem;
}

.createdInputDiv-content .cTextarea-input{
    height: 2.5rem;
}

.section{
    padding: 10px 15px;
    border: 3px dashed #333;
}

.section .flexAndSpaceDiv{
    margin: 1rem 6%;
}

.section .highlight-error {
    background-color: rgb(231 133 133 / 50%);
}

.password1Div{
    display:flex;
}

.swapVis{
    margin-top: 20px;
    margin-right: 10px;
}

.fm-content .password2{
    width: calc(100% - 45px);
}

.switch {
    float: left;
}

.controlSection{
    display:flex;
    justify-content:space-between;
}

.sectionDiv{
    padding: 10px 20px;
}

.tw-toggle input[value="dark"]:checked ~ span{
    background:#333;
    color:#fff;
    left:2px;
}

.tw-toggle input[value="system"]:checked ~ span{
    background: var(--barColor1);
    left: 26px;
}

.tw-toggle input[value="light"]:checked ~ span{
    background:#ccc;
    color: #333;
    left: 51px;
}

.tw-toggle input[value="dark"]:checked + label,.tw-toggle input[value="system"]:checked + label{
    color:#fff;
}

.tw-toggle input[value="light"]:checked + label{
    color:#333;
}

.tw-toggle input {
    margin-top: 4px;
    margin-left:5px;
}

.tw-toggle {
    background-color: var(--sysBgColor);
}

.switch-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.text-option {
    font-size: 14px;
}

.letterSwitch{
    width: 55px;
    min-width: 55px;
}

.letterSwitch .slider:before{
    width: 23px;
}

.ltInput:checked + .slider {
    background-color: var(--sysBgColor);
}

.ltInput:checked + .slider:before {
    transform: translateX(24px);
    background-color: var(--kanban);
}

.lbl1{
    display: block;
    cursor: default;
}

.lbl2{
    display: none;
    cursor: pointer;
}

.preferenceOptions{
    margin-top: 1.3rem;
}

@media screen and (max-width: 399px) {
    .lbl2{
        display: block;
    }
    .lbl1{
        display: none;
    }
    .controlSection{
        display:block;
    }

    .section{
        min-height: 5rem;
    }

    .switch, .tw-toggle{
        margin-top:5px;
    }
}

@media screen and (max-width: 599px) {
    .section .flexAndSpaceDiv{
        display: grid;
        justify-content: center;
        margin:0;
        width: 100%;
    }

    .section .flexAndSpaceDiv .generalBtnStyle{
        margin: 10px;
        width: 100%;
    }

    .fm-content .password2{
        width: calc(100% - 35px);
    }
}
