.activity-wrapper {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.selectActivityDiv, .activityStatusDiv {
    margin: 10px 2rem;
    padding: 1rem;
    background-color: var(--divBgColor);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    height: fit-content;
}

.select-label, .activityStatusDiv label {
    font-size: var(--px14);
    color: var(--black);
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.activityStatusDiv p {
    margin: 0;
    font-size: var(--px16);
    color: var(--black);
    opacity: 50%;
}

.comboBox{
    max-width: 14rem;
}

.rowAcciones {
    width: 8rem;
}

.report-creator {
    border: 2px solid #ccc;
    padding: 1rem;
    position: relative;
    min-height: 300px;
    margin: 2rem auto;
    width: 90%;
    max-width: 950px;
    background-color: #f9f9f9;
}

.report-creator:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.report-input-area {
    min-height: 200px;
    margin-bottom: 4rem;
    transition: background-color 1s ease;
}

.toolbar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--barColor2);
    padding: 0.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.toolbar i {
    color: white;
    font-size: var(--px24);
    cursor: pointer;
}

.toolbar i:hover {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.toolbar button{
    padding: 5px 10px;
    border-radius: 10px;
    font-size: var(--px16);
    background-color: #f4f4f4;

}

.toolbar button:hover{
    background-color: #d6d6d6;
}


.hidden {
    display: none;
}

.input-container {
    position: relative;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.input-title, .input-subtitle, .input-text {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    padding: 10px 40px 10px 10px;
    resize: none;
    overflow: hidden;
}

.input-title {
    font-size: var(--px24);
    text-align: center;
}

.input-subtitle {
    font-size: var(--px20);
}

.input-text {
    min-height: 100px;
}

.remove-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    transform: translateY(-50%);
    color: red;
    cursor: pointer;
}

.report-image {
    display: block;
    max-width: 60%;
    margin: 1rem auto;
    border: 2px solid #ccc;
}

.report-input-area img {
    width: 60%;
    max-width: 300px;
    min-width: 100px;
    display: block;
    margin: 1rem auto;
    border: 2px solid #ccc;
    resize: both;
}

.closeEditor{
    position: absolute;
    cursor:pointer;
    top: -10px;
    right: -7px;
    transition: color 0.3s ease, font-size 0.3s ease, top 0.3s ease;
}

.closeEditor:hover {
    font-size: var(--px20);
    top: -14px;
    color: #b11313;
}

.addBtn{
    padding:6px;
}
.addBtn .fa{
    font-size: var(--px18);
}
.addBtn:hover{
    background-color:var(--hover-AddBtn);
    .fa{
        font-size: var(--px19);
    }
}

.finishBtn{
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: var(--px14);
    margin: 10px auto;
    cursor: pointer; 
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.finishBtn:hover {
    background-color: #45a049; 
}

.onRevision{
    background-color: #f7f7f7; 
    color: #6a727a;
    border: 1px solid #c0c0c0;
    padding: 10px 20px;
    font-size: var(--px14);
    font-weight: bold;
    border-radius: 5px;
    opacity: 0.6;
    text-align: center;
    margin: 10px auto;
    transition: opacity 0.3s ease;
}

@media (max-width: 700px) {
    .activity-wrapper {
        flex-direction: column;
    }

    .addBtn{
        position: fixed;
        top: 5rem;
        bottom:unset;
        left: unset;
        right: 25px;
    }
}