.main .activityManagement{
    padding-bottom: 5rem;
}

.filterDiv {  
    display: inline-block;  
    border-radius: 25px;    
    background-color: var(--navBtnBg);   
    padding: 3px 1rem 7px 1rem; 
    margin-right: 2.5rem; 
    margin-top: 0.5rem;   
    margin-left: 1rem;  
    margin-bottom: 10px;    
    font-size: 11px;
} 
.filterDiv:hover { 
    background-color: #b0b0b0;   
    transition: background-color 0.3s, color 0.3s;
}
.filterDiv .fa {  
    font-size: 22px; 
}

.closedFilterDiv {
    width: fit-content;
    height: fit-content;
}
.openFilterDiv {
    padding: 7px 20px;
    width: clamp(13rem, 50vw, 18rem);
    min-width: fit-content;
    height: auto;

    .fa-sliders {
        display: none;
    }

    .dropDownFilter1 {
        margin-left: 1rem;
    }
}


.main .activityManagement .fm-content { 
    margin: 20px; 
    padding: 1px 1rem 5px 1rem;
    border-radius: 20px;
    background-color: var(--divBgColor);
    padding: 1rem 20px;
}

.addBtn{
    padding:6px;
}
.addBtn .fa{
    font-size: 18px;
}
.addBtn:hover{
    background-color:var(--hover-AddBtn);
    .fa{
        font-size: 19px;
    }
}


.container .main .addActivity-form {
    width: 100%;  
    height: 100%;    
    position: fixed;  
    top: 0;    
    left: 2rem;
    background: rgba(0, 0, 0, 0.8);
    overflow-y: auto; 
}

.container .main .activity-form {
    margin: 4rem auto 0 auto;
    background-color: #fff; 
    border-radius: 1em;  
    padding: 10px 2rem;    
    transition: width 0.3s ease-in-out;
}

.formContainer .fm-content .section1, .formContainer .fm-content .section2 {   
    width: 100%;
}
.formContainer .fm-content .section2 {   
    margin-top: 3rem;
}

.selectDiv .noRepsEncountered{
    width: 100%;
    max-width: 100%;
}

.formContainer .title {
    display: flex;
    margin-top: 1.33em;
    font-size: 16px;
    font-weight: bold;
}

.formContainer .dates select {
    margin-top: .5rem;
    margin-left: .5rem;
}

.formContainer .noDate {
    display: flex;
}

.formContainer .noDate .lbl {
    margin-top: 1rem;
}

.formContainer .noDate .checkBx {
    margin-top: 1rem;
    width: 2rem;
}

.formContainer .noDate .youMust {
    background-color: #823015;
}

.formContainer .form-options {
    margin: 1.5rem auto;
    display: flex;
    justify-content: space-between;
}

.formContainer .sumbit-newTask {
    background-color: #676767;
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
}

.formContainer .enabled {
    background-color: #124734;
    cursor: pointer;
}

.formContainer .close-newTask {
    background-color: #823015;
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
}


.input{
    margin: 10px auto 0 auto;
    font-size: 15px;
}

.textarea {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    min-height: 3rem;
    height: 6rem;  
    max-height: 13rem;
    padding: 10px 17px;
    margin: 8px 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 15px;
    resize: none;
    background-color: white;
}

.formContainer .objetivoDisplay{
    height: 4rem;
}

.activityButtonsDiv{
    margin-top: 10px;   
}

.buttonsDiv{
    width: 100%;   
    text-align: center;
    display: block;
    margin-top: 2rem;
}

.btn {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin: 10px auto;
    border: 1.5mm ridge #e5dddd;
}

.btn:hover {
    opacity: 0.8;
}

.dsBtn{
    background-color: #6d727d;
    color: #42494c;
    border: 1.5mm ridge #333;
    transition: transform 300ms ease-out;
    cursor: default;
}

.dsBtn:hover{
    opacity: initial;
}

.fin-position {
    position: fixed;
    margin-top: 35px;
    z-index: 1000;
}

.finishBtn{
    background-color: #4caf508a;
    color: #a1a2a5;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.finishBtn:hover{
    background-color: #239c28;
    color:white;
}


@media screen and (min-width: 600px){
    .activity-form{
        width: calc(80%);
    }

    .buttonsDiv{
        display: flex;
    }
}

@media screen and (min-width: 800px) {
    .filterDiv { 
        font-size: 13px;      
        display: flex;   
        justify-content: space-between;   
        align-items: center;     
        margin-left: 4%;    
    }  
    .fm-content{
        display: grid;
    }
    .fm-content .section1, .fm-content .line .section2 {    
        width: 45%;      
        float: left;
        flex-direction: column;
        align-items: stretch;
        margin-left: 2%;
    } 
    .fm-content .line .section2 {    
        margin-left: 5%;
    } 

    .activity-form{
       width: calc(70%);
    }

    .buttonsDiv{
        display: block;
    }
}

@media screen and (min-width: 1000px) {
    .activity-form {
        width: 45rem;
    }

    .formContainer .fm-content{
        display: flex;
    }
    .formContainer .fm-content .section1 {
        width: 60%;
        float: left;
        flex-direction: column;
        align-items: stretch;
    }  
    .formContainer .fm-content .section2 {   
        width: 35%;   
        margin-left: 10px;     
        margin-right: 1rem;  
        float: left;     
        flex-direction: column;
        align-items: stretch;
        margin-top: 0;
    } 
}


@media (max-width: 600px) {
    td:nth-of-type(1):before {
        display:none;
    }

    td:nth-of-type(2):before {
        content: "Actividad";
    }

    td:nth-of-type(3):before {
        content: "Estado actual";
    }

    td:nth-of-type(4):before {
        content: "Fecha de finalización";
    }

    td:nth-of-type(5):before {
        content: "Fecha estimada";
    }

    td:nth-of-type(6):before {
        content: "Acciones";
    }
}

@media (max-height: 700px) {
    .addActivity-form {
        height: fit-content;
    }
}
