
.container .main .projectManagement {    
    background-color: #fff;    
    width: 100%;   
    margin-bottom: 2rem; 
} 
.container .main .projectManagement .addBtn {  
    position: sticky;  
    width: fit-content; 
    background-color: #0d8c7751;  
    margin: 15px; 
    border-radius: 50%;
    bottom: 5rem;  
    cursor: pointer;
} 
.container .main .projectManagement .addBtn .add-project-btn {  
    padding: 6px 7px;
    font-size: 22px; 
} 
.container .main .projectManagement .addBtn .add-project-btn:hover { 
    background-color: #09be00;     
    border-radius: 50%;    
    font-size: 170%;    
    transition: background-color 0.3s, color 0.3s;
} 
.container .projectManagement .nav-buttons {   
    position: absolute;     
    border-radius: 25px;
    background-color: #b0b0b051; 
    top: 0.5rem;   
    left: 5.5rem;    
    margin: 0 16px; 
} 
.container .main .projectManagement .nav-buttons .fa {   
    padding-top: 3px; 
    padding-bottom: 5px;  
    margin: 2px 5px;  
    font-size: 22px;   
    color: var(--black);
}  
.container .projectManagement .nav-buttons:hover {   
    background-color: var(--navBtnHover); 
}  
.container .projectManagement .nav-buttons .fa:hover {  
    color: var(--hover-items);  
    transition: background-color 0.3s, color 0.3s; 
}  
.container .projectManagement .filterDiv {  
    display: inline-block;  
    border-radius: 25px;    
    background-color: var(--navBtnBg);   
    padding: 3px 1rem 7px 1rem; 
    margin-right: 2.5rem; 
    margin-top: 0.5rem;   
    margin-left: 1rem;  
    margin-bottom: 10px;    
    font-size: 11px;
}
.container .projectManagement .filterDiv .fa {  
    font-size: 22px; 
} 
.container .projectManagement .filterDiv:hover { 
    background-color: #b0b0b0;   
    transition: background-color 0.3s, color 0.3s;
}  
.container .projectManagement .table .project-list .rowActions {
    width: 6.5rem; 
} 
.container .projectManagement .table .project-list .fa {
    margin-left: 10%;  
    text-decoration: none;
    color: #333;
}  
.container .projectManagement .table .project-list th {
    background-color: #f2f2f2;
}  
.container .projectManagement .table .project-list form {  
    display: inline; 
} 
.container .main .projectManagement .addProject-form {   
    width: 100%;    
    height: 100%;    
    position: fixed;  
    top: 0;    
    left: 2rem;
    background-color: #0000008c;   
    overflow-y: auto; 
}  
.container .main .projectManagement .addProject-form .form-bg .form-container {
    margin: 4rem auto 0 auto;   
    width: 380px;    
    background-color: #fff; 
    border-radius: 1em;  
    padding: 10px 2rem;    
    transition: width 0.3s ease-in-out;
}
.container .main .projectManagement .addProject-form .form-bg .form-container .fm-content {  
    margin: 1rem 0; 
}
.container .main .projectManagement .addProject-form .form-bg .form-container .fm-content .title {    
    display: flex;     
    font-size: 16px;   
    font-weight: bold;
}  
.container .main .projectManagement .addProject-form .form-bg .form-container .fm-content .objetivos {  
    width: 80%; 
}
.container .main .projectManagement .addProject-form .form-bg .form-container .fm-content .form-options {   
    display: flex; 
    justify-content: 
    space-between; 
}  
.container .main .projectManagement .addProject-form .form-bg .form-container .fm-content textarea { 
    width: 100%;  
    max-height: 10rem; 
    padding: 10px 17px;  
    margin: 8px 0;     
    box-sizing: border-box; 
    font-family: 'Open Sans', sans-serif; 
    resize: none;
} 

.container .main .editContainer {  
    width: 100%; 
    height: 100%;  
    background-color: var(--white);
} 
.container .main .editContainer .form-container {  
    width: 100%; 
    height: 100%;
    background-color: var(--white); 
} 
.container .main .editContainer .form-container .title {   
    display: flex;
    margin-top: 1.33em;    
    margin-left: 1rem;  
    font-size: 18px;  
    font-weight: bold;
    padding-top:1rem;
}
.container .main .editContainer .form-container .editProject-form { 
    width: 90%;   
    height: fit-content;
    border-radius: 1em; 
    transition: width 0.3s ease-in-out; 
    margin: 5px 5%;
}  
.container .main .editContainer .form-container .editProject-form .fm-content { 
    padding: 1px 1rem 5px 1rem;
    border-radius: 20px;
    background-color: #e2e2e2;
}
.container .main .editContainer .form-container .editProject-form .fm-content div div div table{ 
    background-color: var(--white);
}
 .container .main .editContainer .form-container .editProject-form .fm-content .section2 .manageMembersDiv h4{
    margin-bottom: 1.5rem;
 }
 .container .main .editContainer .form-container .editProject-form .fm-content .section2 .manageMembersDiv i{
    font-style: normal;
 }
.container .main .editContainer .form-container .editProject-form .fm-content .section1, .container .main .editContainer .form-container .editProject-form .fm-content .section2 {  
    width: 100%;    
    margin-top: 2rem; 
}
.container .main .editContainer .form-container .editProject-form .fm-content .section1 .deptoDiv, .container .main .editContainer .form-container .editProject-form .fm-content .section2 .deptoDiv {    
    margin-top: 1rem;
}
.container .main .editContainer .form-container .editProject-form .fm-content .section1 .deptoDiv .deptoAsign, .container .main .editContainer .form-container .editProject-form .fm-content .section2 .deptoDiv .deptoAsign {   
    margin-top: 0.5rem;
} 
.container .main .editContainer .form-container .editProject-form .fm-content .datesEditForm fieldset{  
    width:fit-content;
    padding: 5px 10px;
    float:left;
} 
.container .main .editContainer .form-container .editProject-form .fm-content .datesEditForm fieldset span {  
    width: 100%;   
    border: 1px solid --black;   
    box-sizing: border-box;   
    font-size: 16px;
} 
.container .main .editContainer .form-container .editProject-form .fm-content .datesEditForm div div select {    
    font-size: 13px; 
} 
.container .main .editContainer .form-container .editProject-form .fm-content .datesEditForm i { 
    margin-left: 0.5rem;
} 
.container .main .editContainer .form-container .editProject-form .fm-content .datesEditForm i:hover {     
    color: hsl(36, 100%, 35%);     
    transition: background-color 0.3s, color 0.3s;
}  .container .main .editContainer .form-container .editProject-form .fm-content textarea { 
    font-family: 'Open Sans', sans-serif;  
    width: 100%;    
    max-height: 11rem;  
    min-height: 6rem; 
    resize: none;    
    padding: 10px 17px;    
    margin: 8px 0;  
    box-sizing: border-box;
} 
.container .main .editContainer .form-container .editProject-form .form-options { 
    position: fixed;  
    bottom: 1rem;   
    left: 5rem; 
} 
.container .main .editContainer .form-container .editProject-form .form-options .sumbit-editProject {  
    background-color: #67676769;    
    border: none;   
    color: var(--white);
    padding: 8px 20px;  
    text-align: center;   
    text-decoration: none; 
    display: inline-block;     
    font-size: 16px; 
    border-radius: 15px; 
} 
.container .main .editContainer .form-container .editProject-form .form-options .enabled {   
    background-color: #124734; 
    cursor: pointer;
}
.container .main .editContainer .form-container .editProject-form .form-options .close-editProject {   
    background-color: #8230159c;     
    border: none;  
    color: var(--white);   
    padding: 8px 20px;   
    text-align: center;   
    text-decoration: none;  
    display: inline-block;     
    font-size: 16px;    
    border-radius: 15px;   
    cursor: pointer;
} 
.container .main .editContainer .form-container .editProject-form .form-options .close-editProject:hover { 
    background-color: #94300e;  
    transition: background-color 0.3s, color 0.3s;
}

.closedFilterDiv {
    width: fit-content;
    height: fit-content;
}

.openFilterDiv {
    display: inline;
    min-width: 19rem;
    max-width: 26rem;
    width: clamp(19rem, 52vw, 26rem);
    height: auto;

    .fa-sliders {
        display: none;
    }

    .dropDownFilter1 {
        margin-left: 1rem;
    }
}

.close-AddProject {
    background-color: var(--cancelBtn);
    border: none;
    color: var(--white);
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
    left: 25%;
}

.close-AddProject:hover {
    transition: background-color 0.3s, color 0.3s;
    background-color: #94300e;
}



.bold {
    font-weight: bold;
}

.objectivesBtn {
    margin-top: 1rem;
    background-color: #1d5a71;
    border: none;
    color: var(--white);
    padding: 2px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    border-radius: 15px;
}

.icon-left {
    margin-right: 8px;
}


.container .main .obj-container .objectivesBtn {
    position: fixed;
    bottom: 3rem;
    right: 5rem;
}


.sumbit-AddProject,
.sumbit-AddProject-obj {
    background-color: #676767;
    border: none;
    color: var(--white);
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
    right: 25%;
}

.enabled {
    background-color: #124734;
    cursor: pointer;
}

.NameInput {
    width: 100%;
    padding: 10px 17px;
    margin: 8px 0;
    box-sizing: border-box;
}

.addObjective:hover {
    transition: background-color 0.3s, color 0.3s;
    color: hsl(126, 100%, 35%);
    font-size: 125%;
}

.form-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    .addObjectiveForm {
        position: absolute;
        top: 40%;
        left: 5%;
    }
}

.newObjectiveTxt {
    position: absolute;
    top: 40%;
    left: 5%;
    width: 100%;
    max-width: 25rem;
    height: 100%;
    max-height: 8rem;
    padding: 10px 17px;
    margin: 8px 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container .main .defineObj-Container .obj-container {
    margin-left: 1rem;

    .title {
        margin-top: 1rem;
    }

    .displayObjetivos table {
        .objRow_1 {
            width: 2rem;
        }

        .rowActions {
            width: 6rem;
        }

        .actions {
            display: flex;
            width: 100%;
        }

        .actions form {
            margin-left: 15%;
        }
    }
}

.cancelObj {
    position: absolute;
    bottom: 10rem;
    left: 60%;
    background-color: var(--cancelBtn);
    color: var(--white);
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 15px;
}

.cancelObj:hover {
    transition: background-color 0.3s, color 0.3s;
    background-color: #94300e;
}

.cancelObj {
    position: absolute;
    bottom: 10rem;
    left: 17rem;
    background-color: var(--cancelBtn);
    color: var(--white);
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 15px;
}

.saveObj {
    position: absolute;
    bottom: 10rem;
    left: 5rem;
    color: var(--white);
    padding: 10px 25px;
    background-color: #676767;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 15px;
    border: none;
}

.addRowBtn {
    color: var(--white);
    padding: 3px 10px;
    margin-left: 10px;
    border-radius: 10px;
    text-decoration: none;
    background-color: #0f5e41;
    cursor: pointer;
}

.addRowBtn:hover {
    transition: background-color 0.3s, color 0.3s;
    font-size: 102%;
    background-color: #0b6d49;
}

.container .main .manageMembersDiv {
    width: calc(100% - 4rem);
    margin: 1rem auto;

    .title h4 {
        margin-left: calc(5% * 1.5);
    }

    .editProject-form {
        width: calc(100% - 4rem);

        .topTable {
            width: 50%;
            display: block;
            margin: 1rem auto;
        }

        .table {
            width: calc(100%-4rem);
            justify-content: space-between;
            margin: 1rem auto;
        }

        .addMemberBtn {
            position: absolute;
            top: 9rem;
            right: calc(30% - 1rem);
        }
    }
}


.detailsContainer {
    margin-bottom: 3rem;
}  
.detailsContainer .fa-share-square-o {
    position: absolute;
    background-color: #0d8c7751;
    margin-left: 10px;
    border-radius: 50%;
    bottom: 10px;
    cursor: pointer;
}  
.detailsContainer .detailsContainerDiv, .detailsContainer .detailsContainerTitle {
    margin: 1rem 1rem;
    width: 85%;
    left: 0;
}  
.detailsContainer .detailsContainerDiv .name i { 
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-size: 1.5rem;
    font-weight: bold; 
}
.detailsContainer .redBtn {
    padding: 10px; 
    position: fixed;  
    bottom: 20px;    
    right: 1rem;
}  
.detailsContainer .optionsDiv { 
    position: fixed;  
    top: 4rem;   
    right: 1rem;   
    background-color: var(--navBtnBg);  
    padding: 10px;  
    border-radius: 20px;   
    justify-content: space-between;
} 
.detailsContainer .optionsDiv .fa-edit
{  
    margin: 0 9px 0 10px;
}  
.detailsContainer .optionsDiv .fa-ellipsis-v {  
    padding: 0 5px; 
}  
.detailsContainer .optionsDiv .fa
{  
    background-color: unset;     
    position: initial;
    font-size: 18px;
}  
.detailsContainer .optionsDiv:hover { 
    background-color: var(--menuColor);
}  
.detailsContainer div div h3 {   
    margin: 1rem 0 0.5rem 0;
}

@media screen and (min-width: 600px){

    .datesEditForm {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        .fechaIni, .fechaFin{
            display: flex;
            flex-direction: column;
        }
    }

    .detailsContainer {    
        background-color: #3333338a;    
        padding-top: 1rem;     
        position: relative;         
        width: -webkit-fill-available;  
        height: fit-content;    
        min-height: -webkit-fill-available;
    }   
    .detailsContainer .detailsContainerTitle {     
        margin: 0 auto;      
        background-color: var(--white);         
        padding: 1rem 0;    
    }     
     .detailsContainer .detailsContainerTitle .name i{
        display: flex;
        align-items: center;
        justify-content: center;
        font-style: normal;
        font-size:1.5rem;
        font-weight: bold;
    
     }
    .detailsContainer .detailsContainerTitle .fechas {    
        display: flex;       
        padding: 0 1rem;     
        justify-content: space-between;     
    }    
    .detailsContainer .detailsContainerTitle .fechas .fechaInicio {       
        width: 30rem;    
    }     
    .detailsContainer .detailsContainerTitle .fechas .fechaCierre {   
        margin-left: calc(100% - 23rem);    
        width: 30rem;   
    }  
    .detailsContainer .detailsContainerDiv {   
        margin: 10px auto;         
        background-color: var(--white);       
        padding: 1px 2.5rem 1em 2.5rem;    
    }     
    .detailsContainer .optionsDiv { 
        background-color: var(--menuColor);     
    }
}

@media screen and (min-width: 800px) {

    .container .projectManagement .filterDiv { 
        font-size: 13px;      
        display: flex;   
        justify-content: space-between;   
        align-items: center;     
        margin-left: 4%;    
    }     
    .container .projectManagement .nav-buttons {  
        left: calc(4% + 4.2rem); 
    }      
    .container .main .projectManagement .addBtn .add-user-btn {         
        font-size: 24px;     
    }  
    .container .main .projectManagement .addProject-form .form-bg .form-container {  
        margin: 7% auto;     
        width: 500px;   
    }     
    .container .projectManagement .table .rowID {  
        width: 2.5rem;   
    }
    
    .objectivesBtn {
        position: fixed;
        bottom: 3rem;
        left: 5rem;
    }

    .container .main .manageMembersDiv .editProject-form .addMemberBtn {
        right: calc(35% - 1rem);
    }

    .dates {
        display: flex;
        align-items: center;
    }

    .fechaInicio {
        width: 50%;
    }

    .fechaCierre {
        width: 50%;
    }

   
     .container .main .editContainer .form-container .editProject-form {   
         height: 37rem;
         width: calc(100% - 4rem);
     }
    .container .main .editContainer .form-container .editProject-form .specs div{
        margin-top:0;
    }
    .container .main .editContainer .form-container .editProject-form .fm-content{
        display: flex;
    }
    .container .main .editContainer .form-container .editProject-form .fm-content .section1 {    
        width: 45%;      
        float: left;
        flex-direction: column;
        align-items: stretch;
    }  
    .container .main .editContainer .form-container .editProject-form .fm-content .section2 {   
        width: 45%;   
        margin-left: 10%;     
        margin-right: 1.5rem;  
        float: left;     
        margin-bottom: 3rem;
        flex-direction: column;
        align-items: stretch;
    }    
    .container .main .editContainer .form-container .editProject-form .fm-content div textarea {   
        width: calc(100% - 0.2rem);  
        height: 10rem;  
        max-height: 13rem;   
   }

    .form-bg {
        .newObjectiveTxt {
            left: 15%;
            max-width: 37rem;
        }
    }

    .container .main .defineObj-Container .obj-container .displayObjetivos table {
        width: 45rem;
    }

    .saveObj {
        left: 10rem;
    }

    .cancelObj {
        left: 65%;
    }

    .datesEditForm {
        display: inline;
        .fechaFin{
            margin-top: 2rem;
        }
    }
}

@media screen and (min-width: 950px){
 .detailsContainer {   
     display: flex;    
     flex-wrap: wrap;      
     gap: 20px;     
     justify-content: center;       
     padding: 20px;   
 }     
    .detailsContainer .detailsContainerTitle {    
        width: 96%;   
    }    
    .detailsContainer .detailsContainerTitle .name i {  
        font-size: 200%;    
    }     
    .detailsContainer .detailsContainerDiv {   
        margin: 1px 1px;     
        width: 45%;      
        padding: 10px 2rem;     
        font-size: 106%;   
    }
    
}

@media screen and (min-width: 1100px) {

    .container .main .projectManagement .addBtn .add-user-btn {      
        font-size: 25px;     
    }    
    .container .main .projectManagement .addProject-form .form-bg .form-container {  
        margin: 5% auto;   
        width: 640px;   
    }     
    .container .projectManagement .table .project-list {     
        font-size: 14px;  
    }

     .container .main .editContainer .form-container .editProject-form { 
         width: calc(100% - 6rem);     
         height: 100vh;
            margin: 5px 4%;
    }
    .container .main .editContainer .form-container .editProject-form .fm-content .section1 .datesEditForm label {      
        margin-top: 2rem;   
    }     
    .container .main .editContainer .form-container .editProject-form .form-options {   
        bottom: 1.5rem;  
    }
    .container .main .editContainer div form div div div .table td{
        font-size: 14px;
    }
    
    .form-bg {
        .addObjective-form {
            top: 40%;
            left: 45%;

            .newObjectiveTxt {
                width: 50em;
                max-width: 50rem;
                height: 5rem;
            }
        }

        .newObjectiveTxt {
            width: 100%;
            max-width: 50rem;
        }

    }

    .container .main .defineObj-Container .obj-container .displayObjetivos table {
        width: 60rem;
    }

    .saveObj {
        left: 17%;
    }

    .cancelObj {
        left: 67%;
    }
}

.redBorder {
    background-color: rgba(144, 0, 0, 0.350);
    border: 1px solid rgb(255, 0, 0);
}

.hoverTable:hover {
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.enabled {
    background-color: #124734;
    cursor: pointer;
}

.enabled:hover {
    transition: background-color 0.3s, color 0.3s;
    background-color: #0f5e41;
}

.hidden {
    display: none;
}

.posFx-BL {
    position: fixed;
    bottom: 1rem;
    left: 5rem;
}

@media (max-width: 650px) {
    td:nth-of-type(1) {
        display:none;
    }

    td:nth-of-type(2):before {
        content: "Nombre del proyecto";
    }

    td:nth-of-type(3):before {
        content: "Departamento asignado";
    }

    td:nth-of-type(4) {
        display:none;
    }

    td:nth-of-type(5) {
        display:none;
    }

    td:nth-of-type(6):before {
        content: "Acciones";
    }

    .editContainer div form div div div .table {
        table {     
            width: 95%;  
        }    
        .members-list td:nth-of-type(1):before {   
            content: "Nombre";    
        }    
        .members-list td:nth-of-type(2):before {     
            content: "Cargo";   
        }  
        .objectiveG-list td:nth-of-type(1):before {    
            content: "No.";    
        }      
        .objectiveG-list td:nth-of-type(2):before {   
            content: "Descripción";   
        }
    }
     
}


.tableIconBtn {
    padding: 0 2px;
    font-size: 10px;
    color: #000000;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.tableIconBtn:hover {
    color: #dd0000;
    border-color: #7c7c7c;
}

.editable {
    border: 1px solid #000;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
}
