:root {
    --barColor1: #0b2484;
    --barColor2: #1d0271;
    --hover-items: hsl(26, 88%, 33%);
    --hover-AddBtn: #124734;
    --black: #333;
    --white: #fff;
    --menuColor: #e0e2e1;
    --menuItem: #01227f;
    --menuItemHover: #0140f2;
    --navBtnBg: #b0b0b051;
    --navBtnHover: #b0b0b0;
    --cancelBtn: #823015;
    --rowSelected: #e0e0fc;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--black);
    padding: 0;
    margin: 0;
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.container {
    display: flex;
    flex-flow: row wrap;
}

.header {
    width: calc(100% - 3rem);
    display: block;
    top: 0;
    height: 3rem;
    align-content: center;
    background-image: linear-gradient(18deg, var(--barColor1) 10%, var(--barColor2) 100%);
    position: fixed;

    .headerTitle {
        margin-top: 1rem;
    }
}


.topToolBar {
    margin: .5rem 0;
    margin-right: 1rem;
    display: grid;
    font-size: 11px;

    .topBarText {
        color: white;
        margin-left: 2rem;
    }

    .listProyectos {
        font-size: 11px;
    }
}

.container .main .header h4 {
    padding-left: 2.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: var(--white);
}

.container .sidebar {
    /* background-image: linear-gradient(180deg, #1d0271 10%, #1e3aa2 100%); */
    background-image: linear-gradient(18deg, var(--barColor1) 10%, var(--barColor2) 100%);

    position: fixed;
    color: var(--white);
    width: 7rem;
    height: 100%;
    padding: 0 1rem;
    top: 0;
    left: 0;
    box-sizing: content-box;
    z-index: 2;
    /* transition: width .2s ease-in-out; */
}

.container .sidebar .sidebartop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 1rem;
    height: 55px;
}

.container .sidebar .sidebartop .sidebar-logo {
    width: 90%;
    padding-top: .8rem;
}

.container .sidebar .sidebartop .sidebar-logo img {
    height: auto;
    width: 100%;
    cursor: pointer;
}

.container .sidebar .sidebar-divider {
    margin: 1rem .7rem;
}

.container .sidebar .sidebar-menu {
    display: flex;
    cursor: pointer;
}

.container .sidebar .sidebar-menu :hover {
    color: hsl(36, 100%, 50%);
}

.container .sidebar .sidebar-menu-list {
    height: 75%;
}

.container .sidebar nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.container .sidebar nav ul li {
    display: block;
    justify-content: space-between;
    padding: .8rem 0;
    position: relative;
    background-color: transparent;
    transition: background-color .25s ease-in-out;
    margin: 0 10px;
}

.container .sidebar nav ul li a {
    display: block;
    cursor: pointer;
    text-decoration: none;
    color: var(--white);
}

.container .sidebar nav ul li a:hover {
    color: hsl(36, 100%, 50%);
    padding-left: .1rem;
}

.container .sidebar nav ul li a i span {
    font-size: 12px;
}

.container .sidebar nav ul li a .fa {
    display: flex;
}

.container .sidebar nav ul li a .text {
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    left: .5rem;
    top: -.2rem;
}

.container .sidebar .account {
    /* display: flex; */
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: calc(100% - 2rem);
    position: absolute;
    bottom: 0;
    margin-bottom: .5rem;
}

.container .sidebar .account .details {
    display: flex;

    .avatar {
        margin-right: 1rem;
        width: 20%;
    }

    .avatar img {
        border-radius: 50%;
        height: 30px;
        width: 30px;
        cursor: pointer;
    }

    .name {
        margin: auto 0;
    }

    .name h4 {
        padding: 0;
        margin: 0;
        font-size: 12px;
    }
}

.container .sidebar .account {
    .logout {
        flex: 1 1 auto;
        text-align: end;
    }

    .logout a {
        font-size: 1rem;
        text-decoration: none;
        color: var(--white);
    }

    .logout a:hover {
        color: hsl(36, 100%, 50%);
    }
}

.container .main {
    overflow-x: scroll;
    overflow-y: scroll;
    margin-left: 3rem;
    width: calc(100% - 3rem);
    height: 100%;
    background-color: var(--white);
    z-index: 1;
    position: fixed;
    top: 3.5rem;
}

.accountMenu {
    position: absolute;
    bottom: 2.5rem;
    left: 1.5rem;
    padding: .5rem;
    background-color: var(--menuColor);
    border-radius: 10px;
    width: 8.3rem;
}

.accountMenu div {
    margin: 0 .5rem;
}

.accountMenu div a {
    cursor: pointer;
    text-decoration: none;
    color: var(--menuItem);
}

.accountMenu div a:hover {
    color: var(--menuItemHover);
    font-size: 105%;
}

.accountMenu div a i span {
    font-size: 13px;
    font-family: sans-serif;
    margin-left: 8px;
}

.flexAndSpaceDiv {
    display: flex;
    justify-content: space-between;
}

.container .main::-webkit-scrollbar {
    display: none;
}

.selectedRowsOptions{    
    position: absolute;
    top: .5rem;
    right: 8%;
} 

.selectedRowsOptions .shortBtn {
    display: inline-flex;
}

.selectedRowsOptions .normalBtn {
    display: none;
}

@media screen and (min-width: 650px) {
    .container .main {
        margin-left: 9rem;
        width: calc(100% - 9rem);
    }

    .container .sidebar {
        position: fixed;
    }

    .container .main .header {
        position: fixed;
        height: 3.5rem;
    }
}

@media screen and (min-width: 700px){
   .selectedRowsOptions .shortBtn {    
        display: none;
    }    
    .selectedRowsOptions .normalBtn {    
        display: inline-flex;    
    }
}

@media screen and (min-width: 800px) {
    .container .sidebar {
        width: 9rem;
    }

    .container .sidebar nav ul li a i span {
        font-size: 15px;
    }

    .container .sidebar .sidebartop .sidebar-logo {
        width: 100%;
        padding-top: 1rem;
    }

    .container .sidebar .sidebar-divider {
        margin-top: 2.5rem;
    }

    .container .sidebar nav ul li {
        padding: 1.4em 0;
    }

    .container .sidebar nav ul li a i {
        font-size: 15px;
    }

    .container .main {
        margin-left: 11rem;
        width: calc(100% - 10rem);
        min-height: 100vh;
    }

    .header {
        width: calc(100% - 11rem);
    }
    .container .main .header h4 {
        font-size: 16px;
    }

    .container .sidebar .account .details .name h4 {
        font-size: 15px;
        font-weight: normal;
    }
}

.input {
    width: 100%;
    padding: 10px 17px;
    margin: 8px 0;
    box-sizing: border-box;
    margin-left: 10px;
}

.short {
    .header{
        width: calc(100% - 3rem);
    }
    .sidebar {
        width: 1rem;
        text-align: center;

        .sidebartop .sidebar-logo {
            display: none;
        }

        .sidebar-divider {
            display: none;
        }

        .account {
            .name {
                display: none;
            }

            .logout {
                display: none;
            }

            .avatar {
                position: absolute;
                bottom: .3rem;
                left: -.4rem;
            }
        }
    }

    .sidebar nav ul li {
        margin: 0;
    }

    .sidebar nav ul li a i span {
        display: none;
    }

    .accountMenu {
        text-align: left;
        bottom: 2.7rem;
    }

    .accountMenu div a i {
        font-size: 13px;
    }

    .accountMenu div a i:hover {
        font-size: 13.5px;
    }

    .fa {
        font-size: 1rem;
    }

    .main {
        margin-left: 3rem;
        width: calc(100% - 1rem);
    }
}

.short .sidebar {
    width: 1.2rem;
    text-align: center;
}

.short .sidebar .account .logout .fa {
    font-size: 1rem;
}

.short .fa {
    font-size: 1rem;
}

.short .main {
    margin-left: 3rem;
    width: calc(100% - 3rem);
}

.short .sidebar .account .logout .fa:hover {
    padding-left: .1rem;
}

/* Scrolling effect */
.scroll {
    height: 100vh;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.scroll::-webkit-scrollbar {
    display: none;
}

.redBtn{
    background-color: #8230158c;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
}
.redBtn:hover{
    background-color: #823015;
}
@media screen and (max-height: 350px) {
    .sidebar-menu-list {
        height: 10rem;
    }

    .container .sidebar nav ul li {
        padding: .6rem 0;
    }

    .container .sidebar .account {
        box-sizing: border-box;
        left: 0;
        bottom: -.5rem;
        padding-bottom: .5rem;
        width: 100%;
        background-image: linear-gradient(180deg, #1d0271 10%, #1e3aa2 100%);
    }
}

.button {
    margin-top: .3rem;
    text-align: center;
    display: inline-block;
}

.button:hover {
    cursor: pointer;
}

.apply {
    background-color: #7b7b7b;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 15px;
}

.apply:hover {
    background-color: var(--black);
}

.comboBox {
    height: 30px;
    font-size: 14px;
    border-radius: 10px;
    padding: 2px 7px;
}

.fa-plus-circle:hover {
    transition: background-color 0.3s, color 0.3s;
    font-size: 150%;
    color: var(--hover-AddBtn);
}

.fa-minus-circle:hover {
    transition: background-color 0.3s, color 0.3s;
    font-size: 150%;
    color: var(--hover-items);
}

.hide {
    display: none;
}

.searchingMode {
    width: 45%;
}

.search-bar {
    width: calc(100% - 3rem);
    padding: 10px 17px;
    border-radius: 25px;
    box-sizing: border-box;
}


.dropDownFilter {
    font-size: 11px;
}



@media screen and (min-width: 800px) {
    .dropDownFilter {
        margin: 0 0;
        font-size: 13px;
    }

    .searchingMode {
        width: 25rem;

        .search-bar {
            width: calc(100% - 3rem);
        }
    }
}

.mr-half {
    margin-right: .5rem;
}

.mb1r {
    margin-bottom: 1rem;
}

.mt1r {
    margin-top: 1rem;
}

.mr1r {
    margin-right: 1rem;
}

.ml1r {
    margin-left: 1rem;
}

.mT-half {
    margin-top: .5rem;
}

@media screen and (min-width: 1100px) {
    .dropDownFilter {
        font-size: 15px;
    }

    .search-bar {
        width: 50%;
    }
}

.rowSelected{
    background-color: var(--rowSelected);
}