span{
    width:fit-content;
}

.selectDiv {
    width:fit-content;
}

.fm-content { 
    margin: 20px; 
    padding: 1px 1rem 5px 1rem;
    border-radius: 20px;
    background-color: var(--divBgColor);
    color: var(--black);
    padding: 1rem 20px;
    height: fit-content;
}

.fm-content h3{ 
    margin-bottom: 15px;
}

.ticketExplanationDiv, .projectUpdateDiv {
    margin: 20px 0;
    min-width: 390px;
    max-width: 850px;
    width:100%;
}

.projectUpdateDiv{
    max-width: 650px;
}

.fm-content {
    display: flex;
    flex-direction: column;
}

.input-text, .textarea-input, .file-input {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.textarea-input {
    resize: none;
}

.selectImageDiv{
    display: flex;
    margin-top:10px;
}

.selectImageBtn{
    width: 11rem;
}

.fileChosenLb{
    margin-left:1rem;
    padding:5px 10px;
    border: 1px solid #000;
}

.deleteMemberDiv, .permitionMemberDiv{
    width: fit-content;
}

.fm-content div .generalBtnStyle{
    /* background-color: #3498db; */
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 10px 20px;
}

.submitTicketBtn{
    z-index:1;
    position: fixed;
    font-family: sans-serif;
    width: 120px;
}

.closeBtn {
    position: relative;
    width: fit-content;
    left: 15rem;
    background: none;
    border: none;
    font-size: var(--px19);
    color: var(--black);
    cursor: pointer;
}

.type1Btn{
    bottom:unset;
    top: 36rem;
    right:3rem;
}

.type2Btn{
    bottom:unset;
    top:36rem;
    right:3rem;
}

.type3Btn{
    bottom:unset;
    top:28rem;
    right:3rem;
}

.ticketInputVl, .comboBox {
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.supportFirstAction{
    max-width: 650px;
    min-width: 250px;
}

.supportFirstAction .fm-content{
    width: 80%;
    display: flex;
    gap: 10px;
    justify-content: flex-start;
}

.supportFirstAction .fm-content .generalBtnStyle {
     padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

.firstDiv{
    width: fit-content;
}

.solvingArea{
    margin: 30px auto;
    max-width: fit-content;
    align-items:center;
}

.solvingArea div {
    width: 95%;
}

.AccountFieldUpdate{
    max-width: 600px;
}

.ticketCreator{
    margin:15px 0;
}

.btnOptions{
    display: flex;
    gap: 10px;
    justify-content: flex-start;
}

.ticketImage{
    width:100%; 
    max-width: 650px; 
    height: auto;
    margin: 15px;
}

.input{
    font-size: var(--px14);
}

.input.textarea{
    resize:none;
    font-family: Arial, Helvetica, sans-serif;
    max-height: 5rem;
}

.watchTicketDiv{
    padding: 20px 30px;
    width: fit-content;
    min-width: fit-content;
}

.watchTicketDiv span{
    position: fixed;
    margin-top: 15px;
    font-style: italic;
}

.exWatchTicket{
    width:fit-content;
    align-self: end;
}

.ticketDetails{
    display: flex;
    align-items: center;
    max-width: 720px;
    margin: 20px auto;
    gap: 15px;
}

.ticketDetailsDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 18px 40px;
    max-width: fit-content;
    margin: 20px auto;
    /* border-radius: 8px; */
    gap: 15px;
}

.ticketDetailsDiv *{
    margin: 10px 0;
}
.ticketDetailsDiv h3, .ticketDetailsDiv h4 {
    text-align: left;
    width: 100%;
    font-weight: bold;
    margin-bottom: 1rem;
}

.ticketDetailsDiv img{
    max-width: 600px;
}

.ticketDetailsDiv div{
    margin-top: 0;
}

.bg-Abierto, .bg-Pendiente, .bg-Cerrado{
    width: fit-content;
    padding: 0 5px;
}

.bg-Abierto{
    background-color: #05a805;
}

.bg-Pendiente{
    background-color: #e7cf31;
}

.bg-Cerrado{
    background-color: #bd0d0d;
}

.ticketDate {
    margin: 0;
}

.ticketDate span {
    margin-right: 5px;
    font-weight: bold;
}

/* .ticketDetailsDiv div .textarea-input{
    min-width: 100px;
    width:100%;
    max-width: 400px;
    min-height: 4rem;
    height: ;
    max-height: 8rem;
}

.ticketDetailsDiv div .input{
    min-width: 100px;
    width:100%;
    max-width: 400px;
} */

.ticketDetailsDiv div .responseDiv{
    border-top: thick double var(--black);
}

.ticketDetailsDiv div .responseDiv h4{
    margin-top: 20px;
}

@media screen and (max-width: 450px) {
    .btnOptions{
        display: grid;
        justify-content: center;
    }
    .btnOptions .generalBtnStyle{
        margin-bottom: 55px;
    }
}

@media screen and (max-width: 800px){
    .projectUpdateDiv, .ticketExplanationDiv{
        padding-bottom: 3rem;
    }
}

@media screen and (min-width: 650px) {
    .type3Btn{
        right:unset;
        left: 30rem;
    }
}

@media screen and (max-width: 700px){
    .ticketDetails{
        display: block;   
    }

    .ticketDetailsDiv{
        margin: 20px;
    }

    .ticketDetailsDiv img{
        width: 95%;
    }
}

@media screen and (min-width: 800px) {
    .selectDiv{
        width: 100%;
        display: flex;
        max-width: 850px;
    }
    .selectDiv .fm-content{
        margin: 20px auto;
    }

    .deleteMemberDiv, .permitionMemberDiv{
        width: fit-content;
        margin-left: 3rem;
    }

    .projectUpdateDiv, .ticketExplanationDiv{
        margin-left: 3rem;
    }

    .ticketExplanationDiv{
        width: 90%;
        max-width: 750px;
    }

    .type2Btn{
        top:32rem;
        right:unset;
        left: 40rem;
    }

    .type3Btn{
        top: 29rem;
    }
}

@media screen and (min-width: 900px) {
    .type1Btn{
        right:unset;
        left:48rem
    }

    .container .main .solvingArea.fm-content{
        display: flex;
        gap: 20px;
        align-items: center;
    }
    
    .solvingArea .s1, .solvingArea .s2{
        flex: 1;
        width: 95%;
    }
}

@media screen and (max-height: 500px){
    .type3Btn{
        top:unset;
        bottom: 2rem;
        right:3rem;
    }
}

@media screen and (max-height: 600px){
    .type1Btn, .type2Btn{
        top:unset;
        bottom: 2rem;
        right:3rem;
    }
}